<table style="width: 100%; border-collapse: collapse;">
    <tr>
        <th style="border: 1px solid #cccccc; padding: 8px; text-align: left;"></th>
        <th style="border: 1px solid #cccccc; padding: 8px; text-align: left;"><b>{{ first_buddy.pseudonym }}</b></th>
        <th style="border: 1px solid #cccccc; padding: 8px; text-align: left;"><b>{{ second_buddy.pseudonym }}</b></th>
    </tr>
    <tr>
        <td style="border: 1px solid #cccccc; padding: 8px;"><b>Buddy Type</b></td>
        <td style="border: 1px solid #cccccc; padding: 8px;">{{ first_buddy.buddy_type }}</td>
        <td style="border: 1px solid #cccccc; padding: 8px;">{{ second_buddy.buddy_type }}</td>
    </tr>
    <tr>
        <td style="border: 1px solid #cccccc; padding: 8px;"><b>Email</b></td>
        <td style="border: 1px solid #cccccc; padding: 8px;">{{ first_buddy.email }}</td>
        <td style="border: 1px solid #cccccc; padding: 8px;">{{ second_buddy.email }}</td>
    </tr>
    <tr>
        <td style="border: 1px solid #cccccc; padding: 8px;"><b>Phone</b></td>
        <td style="border: 1px solid #cccccc; padding: 8px;">{{ first_buddy.phone }}</td>
        <td style="border: 1px solid #cccccc; padding: 8px;">{{ second_buddy.phone }}</td>
    </tr>
    <tr>
        <td style="border: 1px solid #cccccc; padding: 8px;"><b>Location</b></td>
        <td style="border: 1px solid #cccccc; padding: 8px;">{{ first_buddy.location }}</td>
        <td style="border: 1px solid #cccccc; padding: 8px;">{{ second_buddy.location }}</td>
    </tr>
    <tr>
        <td style="border: 1px solid #cccccc; padding: 8px;"><b>Time zone</b></td>
        <td style="border: 1px solid #cccccc; padding: 8px;">{{ first_buddy.time_zone }}</td>
        <td style="border: 1px solid #cccccc; padding: 8px;">{{ second_buddy.time_zone }}</td>
    </tr>
    <tr>
        <td style="border: 1px solid #cccccc; padding: 8px;"><b>Introduction</b></td>
        <td style="border: 1px solid #cccccc; padding: 8px;">{{ first_buddy.user_message }}</td>
        <td style="border: 1px solid #cccccc; padding: 8px;">{{ second_buddy.user_message }}</td>
    </tr>
</table>
